<span class="table-toolbar">
  <button mat-flat-button>Add</button>
  <mat-form-field appearance="outline">
    <mat-label>Display columns</mat-label>
    <mat-select [formControl]="columns" multiple>
      <mat-select-trigger>
        {{columns.value?.[0] || ''}}
        @if ((columns.value?.length || 0) > 1) {
          <span>
            (+{{(columns.value?.length || 0) - 1}})
          </span>
        }
      </mat-select-trigger>
      @for (topping of columnsList; track topping) {
    <mat-option [value]="topping">{{topping}}</mat-option>
  }
    </mat-select>
  </mat-form-field>
</span>
<div class="mat-elevation-z2">
  <table mat-table class="full-width-table" matSort [dataSource]="dataSource()">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
      <td mat-cell *matCellDef="let row">{{row.username}}</td>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Active</th>
      <td mat-cell *matCellDef="let row">{{row.isActive}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsList"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsList;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="totalItems"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]">
  </mat-paginator>
</div>
