<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <div class="icon-container">
      <mat-icon class="large-icon">radio_button_unchecked</mat-icon>
    </div>
    <mat-nav-list>
      <clean-sidenav />
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content-container">
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      }
      <span class="toolbar-span">
        <span>
          <h1>Clean</h1> 
        </span>
        <span>
          <app-theme-toggle></app-theme-toggle>
          <button mat-raised-button (click)="logout()">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </span>
      </span>
    </mat-toolbar>
    <div class="margin-10">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>