.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 210px;
  padding: 0 8px;
  box-sizing: border-box;
  border-top-right-radius: initial;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.div-a {
  display: flex;
  mat-icon {
    margin-right: 5px;
  }
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 10px;

  mat-icon {
    display: contents;
    font-size: 64px;
  }
}

.margin-10 {
  padding: 20px;
}

.toolbar-span {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span > * {
    margin-left: 10px;
  }
}